<div class="nested-fields">
  <%= f.input :NumeroCivique %>
  <%= f.input :Rue %>
  <%= f.input :CodePostal %>
  <%= f.input :Ville %>
  <%= f.input :Province %>
  <%= link_to_remove_association 'remove adresses', f %>
</div>
