<div class="nested-fields">
  <%= f.input :Prenom %>
  <%= f.input :Nom %>
  <%= f.input :DateNaissance %>
  <%= f.input :NAS %>
  <%= f.input :adress_id %>
  <%= f.input :NombreEnfants %>
  <%= f.input :CompteTaxesProprietaire %>
  <%= link_to_remove_association 'remove clients', f %>
</div>
