<div class="nested-fields">
  <%= f.input :SecteurEtudes %>
  <%= f.input :Niveau %>
  <%= f.input :DateDebut %>
  <%= f.input :DateCompletion %>
  <%= f.input :Clients_id %>
  <%= f.input :Institutions_id %>
  <%= link_to_remove_association 'remove employeur', f %>
</div>
