<%= simple_form_for Client.new do |f| %>
  <%= f.input :Nom, :hint => '' %>
  <%= f.input :Prenom, :hint => '' %>
  <%= f.input :DateNaissance, :hint => '' %>
  <%= f.input :NAS, :hint => '' %>
  <%= f.input :adress_id, :hint => '' %>
  <%= f.input :NombreEnfants, :hint => '' %>
  <%= f.input :CompteTaxesProprietaire, :hint => '' %>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <%= link_to 'Adresse  ', '#adresses', data: {toggle: 'tab'} %>
    </li>
    <li class="">
      <%= link_to 'Enfant ', '#enfants', data: {toggle: 'tab'} %>
    </li>
    <li class="">
      <%= link_to 'Etude  ', '#etudes', data: {toggle: 'tab'} %>
    </li>
    <li class="">
      <%= link_to 'Etat Civil ', '#etats_civils', data: {toggle: 'tab'} %>
    </li>
    <li class="">
      <%= link_to 'Employeur  ', '#employeurs', data: {toggle: 'tab'} %>
    </li>
    <li class="">
      <%= link_to 'Conjoint ', '#conjoints', data: {toggle: 'tab'} %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="adresses" role="tabpanel">
      <%= f.simple_fields_for :adress do |adress|%>
      <%= render 'adress_fields', :f => adress %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add adress', f, :adress %>
      </div>
    </div>
    <div class="tab-pane" id="enfants" role="tabpanel">
      <%= f.simple_fields_for :enfants do |enfants|%>
      <%= render 'enfant_fields', :f => enfants %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add enfants', f, :enfants %>
      </div>
    </div>
    <div class="tab-pane" id="etudes" role="tabpanel">
      <%= f.simple_fields_for :etudes do |etudes|%>
      <%= render 'etude_field', :f => etudes %>
      <% end %>
      <div class="links">
      </div>
    </div>
    <div class="tab-pane" id="etats_civils" role="tabpanel">
      <%= f.simple_fields_for :etats_civils do |etats_civils|%>
      <%= render 'etats_civil_fields', :f => etats_civils %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add etats_civils', f, :etats_civils %>
      </div>
    </div>
    <div class="tab-pane" id="employeurs" role="tabpanel">
      <%= f.simple_fields_for :employeurs do |employeurs|%>
      <%= render 'employeur_fields', :f => employeurs %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add employeurs', f, :employeurs %>
      </div>
    </div>
    <div class="tab-pane" id="conjoints" role="tabpanel">
      <%= f.simple_fields_for :clients do |clients|%>
      <%= render 'client_fields', :f => clients %>
      <% end %>
      <div class="links">
          <%= link_to_add_association 'add clients', f, :clients %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.button :submit, :disable_with => 'Please wait ...' %>
  </div>
<% end %>
